<header>
    <nav>
        <a href="/">Blacklist</a>
    <ul>
        <li><a href="/entries">View Blacklist</a></li>
        <li><a href="/entries/new">Add Blacklist Entry</a></li>
    </ul>
    </nav>
</header>