<h2>Edit Blacklist Guest</h2>
<form action="/entries/<%=entry.id%>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/entries/<%=entry.id%>" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Update</button>
</form>